.contenedor-testimonio {
  max-width: 1170px;
  height: auto;
  margin: 10px auto 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 2px 7px 15px 5px rgb(0 0 0 / 9%);
}

.imagen-testimonio {
  height: 300px;
  max-width: auto;
}

.contenedor-texto-testimonio {
  text-align: center;
  padding: 20px;
  font-weight: 400;
  line-height: 1.5rem;
  width: 100%;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nombre-testimonio {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 10px;
}

.cargo-testimonio {
  font-size: 1.2rem;
  margin-top: 10px;
  padding-bottom: 20px;
}

.texto-testimonio {
  font-size: 1rem;
  text-align: justify;
}

/* Media Query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .contenedor-testimonio {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .imagen-testimonio {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .contenedor-texto-testimonio {
    text-align: left;
    padding: 0;
    font-size: 16px;
  }

  .nombre-testimonio {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }

  .cargo-testimonio {
    font-size: 1rem;
    margin-top: 5px;
    padding-bottom: 10px;
  }

  .texto-testimonio {
    font-size: 0.9rem;
  }
}
